:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  body{
    background-color: rgb(17, 24, 36);
  }
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
}
header{
  color: rgb(0, 166, 255);
  font-size: 60px;
  margin-bottom: 30px;
}

.mainBx{
  display: flex;
  height: 100%;
  width: 70%;
  position: relative;
}
  #container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    height: 600px;
    width: 600px;
    background-color: white;
  }
  
  .options{
    background-color: rgb(34, 45, 63);
    width: 200px;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .options button{
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgb(179, 220, 255);
    border: none;
    border-radius: 30px;
    padding: 8px;
    font-weight: 700;
  }

  .rainbow{
    background: 
    linear-gradient(
      170deg,
      rgb(255, 51, 0),
      rgb(0, 208, 255),
      rgb(0, 231, 66) 80%
    );
  }

  .options button:hover{
    font-size: 18px;
    padding: 11px;
    transition: 0.2s;
  }

  .options button:active{
    background-color: rgb(87, 114, 139);
    color: white;
    transition: 0.02s;
  }

  .options .mapSize{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .options .mapSize h3{
    color: white;
    font-size: 22px;
    font-weight: 600;
  }
  .grid-item {
    border: .1px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
   
  }

  .grid-item:hover{
    background-color: rgb(55, 55, 55) !important;
    transition: 0.5s;
  }

